/*==================== 
        INDEX
======================*/


html, body {
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    min-height: 400px;
    overflow-x: hidden;
}


/*==================== 
       NAV BAR 
======================*/

#navbarBG {
    background-color: black;
}

.glyphicon{
    color: white;
    font-size:1.5em;
}

.nav-effect{
    margin:auto;
    list-style-type: none;
 }


.nav-effect a span {
    color: #fff;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.nav-effect a span:hover::before,
.nav-effect a span:focus::before {
    color:#bcff25;
}

/* ------- NAV BRAND STYLING -----*/
.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 2.5em;
    line-height: 1;
    color: white;
    display: inline-block;
}



.web-title {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    color: #fff ;
    font-family: "Helvetica";
}

.web-title:hover {
    color:#fff;
}

.web-title::after {
    overflow:hidden;
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background:#bcff25;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.web-title:hover::after {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.web-title::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #000;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.4s 0.3s;
    transition: width 0.4s 0.3s;
}

.web-title:hover::before {
    width: 100%;
}


@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.1, 1.1);
}
 100% {
 -webkit-transform: scale(1, 1);
}
}

@keyframes pulse {
 0% {
 transform: scale(1, 1);
}
 50% {
 transform: scale(1.1, 1.1);
}
 100% {
transform: scale(1, 1);
}
}


/*==================== 
     CHART STYLING 
======================*/


.axis path,
.axis line {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #bcff25;
  
}

.bar:hover {
  fill: #000;
}

.x.axis path {
  display: none;
}


.chart-title.charts{
    font-family:"Helvetica";
    font-size:2em;
    font-weight:900;
    overflow: hidden;
    line-height: 0.75;
    position: relative;
    line-height: 1;
    color:#000;
    display: inline-block;
    text-transform: uppercase;
}


.chart-title.charts:hover {
    color: #000;
}

.chart-title.charts::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #bcff25;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.chart-title.charts:hover::after {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.chart-title.charts::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #bcff25;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.4s 0.3s;
    transition: width 0.4s 0.3s;
}

.HRZones {
    font-size: 20px;
    font-family:Helvetica;
}

.HRZones-Header{
    font-size: 35px;
    text-transform:uppercase;
    font-family:Helvetica;
}

.chart-title.charts:hover::before {
    width: 100%;
}

.number-display{
    font-size: 60px;
    font-family: 'Helvetica';
}


#average-resting-hr{
    position:relative;
    float:left;
    left:30%;
}


.heart-icon{
    position: relative;
    display: block;
    margin: auto;
}

/*==================== 
     BUTTON STYLING 


.intro_button {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
    background-color: #000;
	overflow: hidden;
    margin-top:10px;
}

.intro_button:active {
	border-color: #fff;
	color: #bcff25;
}

.intro_button:hover {
	background: #bcff25;
    border-color:#000;
    color:#000;
}

.intro_button:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.intro_button:active:before {
	color: #bcff25;
}
======================*/

.dc-select-menu {
    background: #fff;
    width: 30%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: #000;
    vertical-align: middle;
    text-align: center;
    margin-top:11px;
    padding-top: 4px;
    padding-bottom: 0;
    font-family:Helvetica;
}

/*==================== 
  HEART BEAT STYLING 
======================*/

.heart-icon {
    -webkit-animation: pulse 1s linear infinite;
    animation: pulse 1s linear infinite;
}

.heart-icon:hover {
    -webkit-animation: none;
    animation:none;
}



@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav {
    width:100%;
  }

  .glyphicon {
    width:100%;
    float:none;
    color: white;
  }

  .web-title{height: inherit;}
}




