<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maisie's Health Data</title>
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css//bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/introjs.css') }}">
</head>
<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="link web-title navbar-brand" href="./">Maisie's Health Data<span data-letters="Maisie's Health Data"></span><span data-letters="Maisie's Health Data"></span></a>
                <button class="intro_button" type="button" autofocus onclick="introJs().start();">Start Tour!</button>

                <ul class="nav navbar-nav navbar-right nav-effect" id="navigation">
				<li><a href="/" data-hover="Home">Home</a></li>
			    </ul>
            </div>
        </div>
    </div>

    <div id="outer" class="container-fluid">

        <div class="row">
            <div class="col-sm-8">
                <div class="row">

                    <!-- Time Chart -->
                    <div class="col-sm-12">
                        <div class="chart-wrapper" data-step="1" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Time
                        </div>
                        <div class="chart-stage">
                            <div id="time-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Time Chart -->

                <!-- Calories Burned Chart -->
                <div class="col-sm-6">
                    <div class="chart-wrapper" data-step="2" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Calories Burned
                        </div>
                        <div class="chart-stage">
                            <div id="calories-burned-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Calores Burned Chart -->

                <!-- Steps Chart -->
                <div class="col-sm-6">
                    <div class="chart-wrapper" data-step="3" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Steps
                        </div>
                        <div class="chart-stage">
                            <div id="steps-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Steps Chart -->
            </div>
        </div>

        <!-- Distance Chart -->
        <div class="col-sm-3">
            <div class="chart-wrapper" data-step="4" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Distance Chart
                </div>
                <div class="chart-stage">
                    <div id="distance-chart"></div>
                </div>
            </div>
        </div>
        <!-- Distance Chart -->

    <!-- Floor Chart -->
        <div class="col-sm-3">
            <div class="chart-wrapper" data-step="4" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Floors Climbed
                </div>
                <div class="chart-stage">
                    <div id="floor-chart"></div>
                </div>
            </div>
        </div>
        <!-- Floor Chart -->
       </div>
    </div>


<hr>
<p class="small text-muted"> Data collected from Fitbit</p>



<script src="{{ url_for ('static',filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/queue.js') }}"></script>


<script src="{{ url_for ('static',filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static',filename='js/graph.js') }}" type='text/javascript'></script>
<script src="{{ url_for ('static',filename='lib/js/intro.js') }}" type="text/javascript"></script>
</body>
</html>