{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

    <div id="outer" class="container-fluid">

    <div class="row">
        <div class="col-sm-12 chart-wrapper">
                    <div class="chart-title charts">Welcome</div>
                    <div>
                   <p class="HRZones">Welcome to my Health Data page, here you can see data collected from my fitbit. You will find information from how many calories I've burnt, total steps I've taken and distance travelled. You can also find all my heart rate data on the next page. </p>
                   </div>
                </div>
                
        <!-- Calories Burned Chart -->
                <div class="col-sm-8">
                    <div class="chart-wrapper">
                        <div class="chart-title charts">
                            Calories Burned
                        </div>
                        <div class="chart-stage">
                            <div id="calories-burned-chart"></div>
                        </div>
                    </div>
                </div>
        <!-- Calories Burned Chart -->

        <!-- Calories ND -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title charts">
                            Total Calories Burned
                        </div>
                        <div class="chart-stage">
                            <div id="caloriesND"></div>
                        </div>
                    </div>
                </div>
        <!-- Calories ND -->
            
        <!-- Steps Chart -->
                <div class="col-sm-8">
                    <div class="chart-wrapper"> 
                        <div class="chart-title charts">
                            Steps
                        </div>
                        <div class="chart-stage">
                            <div id="steps-chart"></div>
                        </div>
                    </div>
                </div>
        <!-- Steps Chart -->

        <!-- Steps ND -->
                <div class="col-sm-4">
                    <div class="chart-wrapper"> 
                        <div class="chart-title charts">
                            Total Steps
                        </div>
                        <div class="chart-stage">
                            <div id="stepsND"></div>
                        </div>
                    </div>
                </div>
        <!-- Steps ND -->
            
        <!-- Distance Chart -->
        <div class="col-sm-8">
            <div class="chart-wrapper">
                <div class="chart-title charts">
                    Distance
                </div>
                <div class="chart-stage">
                    <div id="distance-chart"></div>
                </div>
            </div>
        </div>
        <!-- Distance Chart -->

        <!-- Distance ND -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title charts">
                            Total Distance Covered 
                        </div>
                        <div class="chart-stage">
                            <div id="distanceND"></div>
                        </div>
                    </div>
                </div>
        <!-- Distance ND -->
    
        <!-- Floor Chart -->
        <div class="col-sm-8">
            <div class="chart-wrapper">
                <div class="chart-title charts">
                    Floors Climbed
                </div>
                <div class="chart-stage">
                    <div id="floor-chart"></div>
                </div>
            </div>
        </div>
        <!-- Floor Chart -->

        <!-- Floor ND -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title charts">
                            Total Floors Climed 
                        </div>
                        <div class="chart-stage">
                            <div id="floorND"></div>
                        </div>
                    </div>
                </div>
        <!-- Floor ND -->
       </div>
    </div>

{% endblock %}
{% block tail_js %}
    <script src="{{ url_for ('static',filename='js/graph.js') }}" type='text/javascript'></script>  
{% endblock %}