<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maisie's Health Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/introjs.css') }}">

</head>
<body class="application">

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid" id="navbarBG">

                <div class="navbar-header">
                <a class="link web-title navbar-brand" href="./">Maisie's Health Data<span data-letters="Maisie's Health Data"></span><span data-letters="Maisie's Health Data"></span></a>
                                <button class="intro_button" type="button" autofocus onclick="introJs().start();">Start Tour!</button>
                </div>

            
                <ul class="nav navbar-nav navbar-right nav-effect" id="navigation">
    				<li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="{{ url_for('heart_rate') }}"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="{{ url_for('sleep') }}"><span class="glyphicon glyphicon-bed"></span></a></li>
			    </ul>

        </div>
    </nav>



    <div id="outer" class="container-fluid">

        <div class="row">
                <!-- Calories Burned Chart -->
                <div class="col-sm-8">
                    <div class="chart-wrapper" data-step="1" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title charts">
                            CALORIES BURNED
                        </div>
                        <div class="chart-stage">
                            <div id="calories-burned-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Calories Burned Chart -->

                <!-- Calories ND -->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step="1" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title charts">
                            TOTAL CALORIES BURNED
                        </div>
                        <div class="chart-stage">
                            <div id="caloriesND"></div>
                        </div>
                    </div>
                </div>
        
                <!-- Calories ND -->
            
            
                <!-- Steps Chart -->
                <div class="col-sm-8">
                    <div class="chart-wrapper" data-step="2" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title charts">
                            STEPS
                        </div>
                        <div class="chart-stage">
                            <div id="steps-chart"></div>
                        </div>
                    </div>
                </div>
            
                <!-- Steps Chart -->

                <!-- Steps ND -->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step="1" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title charts">
                            TOTAL STEPS
                        </div>
                        <div class="chart-stage">
                            <div id="stepsND"></div>
                        </div>
                    </div>
                </div>
        
                <!-- Steps ND -->
            
        

        <!-- Distance Chart -->
        <div class="col-sm-8">
            <div class="chart-wrapper" data-step="3" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                <div class="chart-title charts">
                    DISTANCE CHART
                </div>
                <div class="chart-stage">
                    <div id="distance-chart"></div>
                </div>
            </div>
        </div>
    
        <!-- Distance Chart -->

        <!-- Steps ND -->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step="1" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title charts">
                            TOTAL DISTANCE COVERED
                        </div>
                        <div class="chart-stage">
                            <div id="distanceND"></div>
                        </div>
                    </div>
                </div>
        
                <!-- Steps ND -->

    
    <!-- Floor Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper" data-step="3" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                <div class="chart-title charts">
                    FLOORS CLIMBED
                </div>
                <div class="chart-stage">
                    <div id="floor-chart"></div>
                </div>
            </div>
        </div>
        <!-- Floor Chart -->
       </div>
    </div>


<hr>
<p class="small text-muted"> Data collected from Fitbit</p>


<script src="{{ url_for ('static',filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/queue.js') }}"></script>


<script src="{{ url_for ('static',filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static',filename='js/graph.js') }}" type='text/javascript'></script>
<script src="{{ url_for ('static',filename='lib/js/intro.js') }}" type="text/javascript"></script>
</body>
</html>