<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maisie's Sleep Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/introjs.css') }}">

</head>
<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top"  role="navigation">

        <div class="container-fluid nav-container" id="navbarBG">

<a class="link web-title navbar-brand" href="./">Maisie's Health Data<span data-letters="Maisie's Health Data"></span><span data-letters="Maisie's Health Data"></span></a>
                <button class="intro_button" type="button" autofocus onclick="introJs().start();">Start Tour!</button>


            <div class="navbar-right">
                <ul class="nav navbar-nav navbar-right nav-effect" id="navigation">
				<li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{{ url_for('heart_rate') }}"><span class="glyphicon glyphicon-heart"></span></a></li>
                <li><a href="{{ url_for('sleep') }}"><span class="glyphicon glyphicon-bed"></span></a></li>
			    </ul>
            </div>
        </div>
    </div>




    <div id="outer" class="container-fluid">

        <div class="row">
                <!-- Chart 1  -->
                <div class="col-sm-6">
                    <div class="chart-wrapper" data-step="1" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title charts">
                            CHART 1
                        </div>
                        <div class="chart-stage">
                            <div id="chart-1"></div>
                        </div>
                    </div>
                </div>
                <!-- Chart 1 -->


                <!-- Chart 2 -->
                <div class="col-sm-6">
                    <div class="chart-wrapper" data-step="2" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                        <div class="chart-title charts">
                            CHART 2
                        </div>
                        <div class="chart-stage">
                            <div id="chart-2"></div>
                        </div>
                    </div>
                </div>

                <!-- Chart 2 -->



        <!-- Chart 3 -->
        <div class="col-sm-6">
            <div class="chart-wrapper" data-step="3" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                <div class="chart-title charts">
                   CHART 3
                </div>
                <div class="chart-stage">
                    <div id="chart-3"></div>
                </div>
            </div>
        </div>

        <!-- Chart 3 -->


    <!-- Chart 4 -->
        <div class="col-sm-6">
            <div class="chart-wrapper" data-step="3" data-intro="The description that you want"
                             style="font-weight: normal" data-position="right">
                <div class="chart-title charts">
                    CHART 4
                </div>
                <div class="chart-stage">
                    <div id="chart-4"></div>
                </div>
            </div>
        </div>
        <!-- Chart 4 -->
       </div>
    </div>


<hr>
<p class="small text-muted"> Data collected from Fitbit</p>


<script src="{{ url_for ('static',filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/queue.js') }}"></script>


<script src="{{ url_for ('static',filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static',filename='js/graph.js') }}" type='text/javascript'></script>
<script src="{{ url_for ('static',filename='lib/js/intro.js') }}" type="text/javascript"></script>
</body>
</html>